<nav class="navbar">
  <div class="navbar-left">
    <h4>DevConnect</h4>
  </div>
  <div class="navbar-right">
    <span class="greeting">
      Hello, {{ user ? user.firstName : "Developer" }}
    </span>
    <div class="profile-wrapper" (click)="toggleMenu()">
      <img src="" alt="Profile" class="profile-icon" />
      <ul *ngIf="menuOpen" class="profile-menu">
        <li (click)="navigateTo('profile')">Profile</li>
        <li (click)="navigateTo('edit')">Edit</li>
        <li (click)="navigateTo('connection')">Connections</li>
        <li (click)="navigateTo('connectionRequests')">Requests</li>
        <li (click)="logout()">Logout</li>
      </ul>
    </div>
  </div>
</nav>
