<div class="profile-container">
  <div class="no-connection-message" *ngIf="connections.length === 0">
    No Connection Yet
  </div>
  <div class="profile-card" *ngFor="let connection of connections">
    <img
      src="{{ connection.profileImage }}"
      alt="Profile Picture"
      class="profile-pic"
    />
    <div class="profile-info">
      <h2>
        {{ connection.firstName + " " + connection.lastName }}
      </h2>
      <p>
        Age : <span class="text-light">{{ connection.age }}</span>
      </p>
      <p>
        About :
        <span class="text-light">{{ connection.about }}</span>
      </p>
      <p>
        EmailID :
        <span class="text-light">{{ connection.emailId }}</span>
      </p>
    </div>
  </div>
</div>
